@import url('../App.css');
@import url('../HomeSection/style.css');

.admin-sub-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admin-list-users>ul,
li {
    list-style: none;
}

.admin-list-articles {
    width: 90%;
}

.admin-list-articles>form {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    width: 100px;
}

.admin-list-articles>.article-list>ul {
    list-style: none;
    display: block;
    text-align: left;
    font-size: 0.6rem;
}

.admin-list-articles>.article-list>ul>li>span {
    font-size: 0.7rem;
    font-weight: bold;
}