@import url('../../App.css');

.form-create {
    display: block;
    background: #69140E;
    padding: 5px 25px;
    border-radius: 20px;
    color: white;
}

.form-create>label {
    width: 100%;
}

.form-create>input {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.form-create>button {
    margin: 20px 10px;
    width: 100px;
    height: 30px;
}

.article-list-table {
    width: 100%;
}

.article-list table,
.article-list td,
.article-list th {
    border: 2px solid black;
    border-collapse: collapse;
    background: #69140E;
    color: white;
}

.article-list th {
    font-size: 0.9rem;
}

.article-list td {
    font-size: 0.8;
    font-style: italic;
}